--config
preview-codegen
unix-types
single-file
generate-aggressive-inlining
strip-enum-member-type-name
--include-directory
./SDL/include/
--file-directory
./SDL/include/
--prefixStrip
SDL_
--libraryPath
SDL3
--methodClassName
SDL
--namespace
Coplt.Sdl3
--remap
char=byte
bool=bool8
SDL_MouseButtonFlags=SDL_MouseButtonFlags
